
<link href="../../Content/menu/simpleverticalmenu.css" rel="stylesheet" />
<script src="../../Scripts/menu/simpleverticalmenu.js"></script>
           
@{
    ViewBag.Title = "Home Page";
}
@section Advert {
                <div class="cleaner"></div>
                <div id="banner">
                	<a href="#" target="_parent"><img src="/Content/themes/base/images/banner.png" alt="banner" /></a>                
                </div>
                }

                	<h3>Oferta specjalna</h3>

                    <div class="product_box margin_r20">
            	        <!--TODO: zmienic na prawdziwy model-->
                        @Html.Partial("_Product")
                        
                        <div class="cleaner"></div>
                    </div>
                    
			        <div class="product_box">
                    
                    	<a href="#"><img src="/Content/themes/base/images/image_3.png" alt="Red Bell" width="220" height="165" /></a>
       			        <h3>Aliquam sollicitudin</h3>
                        <p class="price">Cena: <span>9 PLN</span></p>
                        <a href="#" class="detail">Szczegóły</a><a href="#" class="addtocard">Dodaj do koszyka</a>
                        
                        <div class="cleaner"></div>
                    </div>
                    
                    
                    <div class="product_box margin_r20">
            	
                		<a href="#" target="_parent"><img src="/Content/themes/base/images/image_4.png" alt="Christmas Gift" width="220" height="165" /></a>
                        <h3>Vestibulum urna ipsum</h3>
                      	<p class="price">Cena: <span>10 PLN</span></p>
                        <a href="#" class="detail">Szczegóły</a><a href="#" class="addtocard">Dodaj do koszyka</a>
                        
                        <div class="cleaner"></div>
                    </div>
                    
      				<div class="product_box">
                    
                    	<a href="#" target="_parent"><img src="/Content/themes/base/images/image_1.png" alt="Christmas Bell" width="220" height="165" /></a>
       					<h3>Aliquam sollicitudin</h3>
                        <p class="price">Cena: <span>10 PLN</span></p>
                        <a href="#" class="detail">Szczegóły</a><a href="#" class="addtocard">Dodaj do koszyka</a>
                        
                        <div class="cleaner"></div>
                    </div>
                    
                  <div class="cleaner"></div>
