@{
    ViewBag.Title = "Index";
}

<h2>Regulamin</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ultricies pretium dolor rhoncus tincidunt. Aliquam sed purus id lorem placerat convallis. Cras mauris felis, viverra a tempus quis, sodales sed lectus. In rutrum auctor velit, eu tempus elit molestie id. Nullam elit nulla, feugiat vitae interdum eget, consectetur in lectus.</p>