@{
    ViewBag.Title = "_Product";
}

<a href="#"><img src="/Content/themes/base/images/image_2.png" alt="" width="220" height="165" /></a>
<h3>Vestibulum urna ipsum</h3>
<p class="price">Cena: <span>12 PLN</span></p>
<a href="#" class="detail">Szczegóły</a>@Html.ActionLink("Dodaj do koszyka", "AddToCart", "ShoppingCart", new { id = 4 }, new { @class = "addtocard" })
