@{
    ViewBag.Title = "Index";
}

<h2>FAQ</h2>

<ul>
    <li>1. Mauris eu diam massa, in scelerisque nunc.</li>
    <li>2. Mauris eu diam massa, in scelerisque nunc.</li>
    <li>3. Mauris eu diam massa, in scelerisque nunc.</li>
    <li>4. Mauris eu diam massa, in scelerisque nunc.</li>
    <li>5. Mauris eu diam massa, in scelerisque nunc.</li>
</ul>
<br />